@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 1100px) {
  .card {
    width: 90%;
  }
  .modal_info {
    width: 90%;
  }
  .modal_lvl_image_box {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .lvl_image_box {
    width: 100%;
  }
  .info {
    text-align: center;
    margin-left: 0;
  }
  .name { font-size: 36px; }
  .author { font-size: 28px; }
  header { font-size: 150%; }
  #modal_creators, #modal_verifiers { font-size: 40px; }
}

body {
  background: #350035 url('../img/background.png') no-repeat center center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: #ddbbdd;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

header {
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: #220022;
  border-bottom: 12px solid #2B002B;
  margin-bottom: 42px;
  font-size: 225%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  width: 100%;
  height: 600px;
  text-align: center;
  background-color: #220022;
  border-top: 12px solid #2B002B;
  margin-top: 42px;
  font-size: 150%;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_blue_glow {
  color: #ccffff;
  text-shadow: 0 0 15px #99ffff;
}

.text_pink_glow {
  color: #ffeeff;
  text-shadow: 0 0 15px #dd99dd;
}

.text_purple_glow {
  color: #ff22ff;
  text-shadow: 0 0 15px #ff00ff;
}

/* --- Button --- */

.button1 {
  height: 60px;
  width: 60px;
  background: #450045;
  border: 6px solid #FF55FF;
  border-radius: 15px;
  box-shadow: 0 0 15px #BB00BB;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  text-shadow: 0 0 15px #d998d5;
  color: #ffdefd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s,
    color 0.2s;
}

.button1:hover {
  background-color: #FF55FF;
  color: #450045;
}

.button1:active {
  background-color: white;
  border-color: white;
  color: black;
  box-shadow: 0 0 10px #BBBBBB;
}

.button_icon {
  width: 40px;
  height: 40px;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  transition: filter 0.2s;
}

.button1:hover img {
  filter: brightness(0.5);
}

.button1:active img {
  filter: brightness(0);
}

/* --- Burger Menu --- */

#burger {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-50px, 30px);
}

.burger_button {
  height: 60px;
  width: 60px;
  background: #450045;
  border: 6px solid #FF55FF;
  border-radius: 15px;
  box-shadow: 0 0 15px #BB00BB;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
}

.burger_image {
  width: 30px;
  height: 30px;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  transition: filter 0.2s;
}

.burger_button:hover {
  background-color: #FF55FF;
}

.burger_button:hover img {
  filter: brightness(0.5);
}

.burger_button:active {
  background-color: white;
  border-color: white;
  box-shadow: 0 0 10px #BBBBBB;
}

.burger_button:active img {
  filter: brightness(0);
}

#burger_menu {
  z-index: 6;
  background: rgba(30, 0, 30, 0.5);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  height: 287px;
  width: 300px;
  border: 4px solid #FF55FF;
  border-radius: 15px;
  padding: 22px;
  box-shadow: 0 0 15px #BB00BB;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-50px, 110px);
  display: none;
  flex-direction: column;
}

.burger_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.burger_button2 {
  z-index: 7;
  height: 60px;
  width: 300px;
  background: #450045;
  border: 6px solid #FF55FF;
  border-radius: 15px;
  box-shadow: 0 0 15px #BB00BB;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  text-shadow: 0 0 15px #d998d5;
  color: #ffdefd;
  cursor: pointer;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s,
    color 0.2s;
}

.burger_button2:hover {
  background-color: #FF55FF;
  color: #450045;
}

.burger_button2:active {
  background-color: white;
  border-color: white;
  color: black;
  box-shadow: 0 0 10px #BBBBBB;
}
