@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #350035 url('../img/background.png') no-repeat center center;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: #ddbbdd;
  font-family: "Yanone Kaffeesatz", sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: #220022;
  border-bottom: 12px solid #2B002B;
  margin-bottom: 42px;
  font-size: 225%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  width: 100%;
  height: 600px;
  text-align: center;
  background-color: #220022;
  border-top: 12px solid #2B002B;
  margin-top: 42px;
  font-size: 150%;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_blue_glow {
  color: #ccffff;
  text-shadow: 0 0 15px #99ffff;
}

.text_pink_glow {
  color: #ffeeff;
  text-shadow: 0 0 15px #dd99dd;
}

.text_purple_glow {
  color: #ff22ff;
  text-shadow: 0 0 15px #ff00ff;
}

/* --- Button --- */

.button1 {
  height: 60px;
  width: 60px;
  background: #450045;
  border: 6px solid #FF55FF;
  border-radius: 15px;
  box-shadow: 0 0 15px #BB00BB;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  text-shadow: 0 0 15px #d998d5;
  color: #ffdefd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-shrink: 0;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s,
    color 0.2s;
}

.button1:hover {
  background-color: #FF55FF;
  color: #450045;
}

.button1:active {
  background-color: white;
  border-color: white;
  color: black;
  box-shadow: 0 0 10px #BBBBBB;
}

.button_icon {
  width: 40px;
  height: 40px;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  transition: filter 0.2s;
}

.button1:hover img {
  filter: brightness(0.5);
}

.button1:active img {
  filter: brightness(0);
}

/* --- Burger Menu --- */

#burger {
  z-index: 5;
  position: fixed;
  top: 20px;
  right: 20px;
}

.burger_button {
  height: 60px;
  width: 60px;
  background: #450045;
  border: 6px solid #FF55FF;
  border-radius: 15px;
  box-shadow: 0 0 15px #BB00BB;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s;
}

.burger_image {
  width: 30px;
  height: 30px;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  transition: filter 0.2s;
}

.burger_button:hover {
  background-color: #FF55FF;
}

.burger_button:hover img {
  filter: brightness(0.5);
}

.burger_button:active {
  background-color: white;
  border-color: white;
  box-shadow: 0 0 10px #BBBBBB;
}

.burger_button:active img {
  filter: brightness(0);
}

#burger_menu {
  z-index: 6;
  background: rgba(30, 0, 30, 0.5);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  width: 300px;
  border: 4px solid #FF55FF;
  border-radius: 15px;
  padding: 22px;
  box-shadow: 0 0 15px #BB00BB;
  position: fixed;
  top: 100px;
  right: 20px;
  display: none;
  flex-direction: column;
}

.burger_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.burger_button2 {
  z-index: 7;
  height: 60px;
  width: 300px;
  background: #450045;
  border: 6px solid #FF55FF;
  border-radius: 15px;
  box-shadow: 0 0 15px #BB00BB;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 30px;
  text-shadow: 0 0 15px #d998d5;
  color: #ffdefd;
  cursor: pointer;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    box-shadow 0.2s,
    color 0.2s;
}

.burger_button2:hover {
  background-color: #FF55FF;
  color: #450045;
}

.burger_button2:active {
  background-color: white;
  border-color: white;
  color: black;
  box-shadow: 0 0 10px #BBBBBB;
}

/* === RESPONSIVE === */

@media (max-width: 768px) {
  header {
    font-size: 150%;
    height: 110px;
    margin-bottom: 20px;
  }
  footer {
    height: 250px;
    font-size: 110%;
  }
  #burger_menu {
    width: 250px;
    right: 10px;
    top: 95px;
  }
  .burger_button2 {
    width: 250px;
    font-size: 24px;
    height: 50px;
  }
  #burger {
    right: 10px;
    top: 10px;
  }
  .burger_button {
    height: 50px;
    width: 50px;
  }
  .burger_image {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 480px) {
  header {
    font-size: 115%;
    height: 90px;
    margin-bottom: 15px;
  }
  footer {
    height: 180px;
    font-size: 90%;
  }
}
