.player_card {
  background: linear-gradient(to right, #650065, #450045);
  width: 1012px;
  border: 4px solid #FF55FF;
  border-radius: 15px;
  margin: 20px auto;
  padding: 22px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 15px #BB00BB;
  transition: width 0.2s;
}

.player_card:hover {
  width: 1036px;
}

.player_info {
  flex-grow: 1;
  margin-left: 15px;
  font-weight: 600;
  text-shadow: 4px 4px 3px #450045;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player_name {
  font-size: 50px;
}

.player_points {
  font-size: 36px;
}

.player_levels {
  font-size: 30px;
  color: #bb99bb;
}
